# ----------------------------
# PYTHON
#------------------------------
.ipynb_checkpoints/
dist/
*.egg-info/
## ------------------------------
# Visual Studio Code
#--------------------------------
.vscode/